body{
  background-color: #fff;
  display: block;
}
.logo-img{
  padding: 30px;
  width: 300px;
}
.float-right {
  float: right !important;
}
.float-left {
  float: left !important;
}
.rnOuter {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100%;
  }
  .imageOne {
    z-index: 0;
    background-size: cover;
    background-position: bottom center;
}
.one{
  position: relative;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;

}

.two {
  position: relative;
  right: 0;
  width: 100%;
}

.imageTwo {
    z-index: 0;
}
  .rnLeft {
    background: rgba(189,15,66,255);
    width: 50%;
    position: absolute;
    top: -10%;
    right: 0;
    bottom: 0;
    left: 700px;
    margin: auto;
    transform-style: preserve-3d;
    transition: transform 7s ease;
    transform-origin: 120% top;
  }
  .rnRight {
    background: rgba(189,15,66,255);
    width: 50%;
    position: absolute;
    top: -10%;
    right: 700px;
    bottom: 0;
    left: 0;
    margin: auto;
    transform-style: preserve-3d;
    transition: transform 12s ease;
    transform-origin: -120% top;
  }
  .rnUnit {
    width: 3vw;
    height: 120vh;
    background: repeating-linear-gradient(to left, hsl(0, 80%, 50%) 4vw, hsl(0, 80%, 30%) 8vw, hsl(0, 80%, 70%) 10vw);
    background-size: 100% 100%;
    display: inline-block;
    transform-origin: 0 0%;
    transform: rotate(2deg);
    -webkit-animation: rnUnit 6s ease infinite;
            animation: rnUnit 6s ease infinite;
  }
  @-webkit-keyframes rnUnit {
    50% {
      transform: rotate(-3deg);
    }
  }
  @keyframes rnUnit {
    50% {
      transform: rotate(-3deg);
    }
  }
  .rnUnit:nth-child(1) {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
  }
  .rnUnit:nth-child(2) {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
  }
  .rnUnit:nth-child(3) {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
  }
  .rnUnit:nth-child(4) {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
  }
  .rnUnit:nth-child(5) {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
  }
  .rnUnit:nth-child(6) {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
  }
  .rnUnit:nth-child(7) {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s;
  }
  .rnUnit:nth-child(8) {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
  }
  .rnUnit:nth-child(9) {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
  }
  .rnUnit:nth-child(10) {
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
  }
  .aoTable {
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
  }
  .aoTableCell {
    color: #86044e;
    background-position: center;
    background-size: cover;
    display: table-cell;
    vertical-align: middle;
    transition: color 3s ease;
  }
  .rnOuter:hover .rnRight {
    transform-origin: -120% top;
    transform: scaleX(0);
  }

  .rnOuter:hover .rnLeft {
    transform-origin: 120% top;
    transform: scaleX(0);
  }

  .rnOuter:hover .aoTableCell {
    color: white;
  }

  .rnOuter-hover {
    transform: translate(500px);
  }
  .hideMe {
    -moz-animation: cssAnimation 0s ease-in 4s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 4s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 4s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 4s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .border-bottom-red {
    background: url('../img/line-red.png') bottom center no-repeat;
  }
  .text-center{
    text-align: center;
  }
  .content-spacer {
    padding: 3rem;
  }
  .content-spacer-xl {
    padding: 6rem;
  }
  .text-content {
    text-align: center;
  }
  .text-content h4{
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.06em;
    color: #222222;
  }
  .text-content h1{
    font-size: 46px;
    font-weight: 800;
    letter-spacing: 0.06em;
    color: #222222;
  }
  .img-round {
    /* float: right; */
  }
  .img-round img{
    width: 800px;
    height: 760px;
    margin: 0 auto;
  }
  .gif-round {
    position: relative;
    right: 120px;
    top: 250px
  }
  .gif-round img {
    width: 460px;
    height: 420px;
  }
  .video-round {
    position: relative;
    left: 65%;
    top: 250px;
  }
  .video-round video {
    width: 460px;
    height: 420px;
  }

  /* Wave footer */
.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:50px;
}

/* wave Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
  @keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
  }
  @-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
} 

.wrapper {
  background-size: cover; 
  background-position:center;
  position: relative;
  height: 100%;
  width: 100%;
}

.content {
  position: relative;
}
/* Fun begins */

  .fun {
    border-top: 10px solid gold;
  }

  .fun img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .image-responsive {
    width: 100%;
    padding: 10%;
    display: block;
  }

  .video-responsive {
    width: 100%;
    display: block;
    margin: 0 auto;
  }


  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  
.floating {
  position: relative;
  width: 50px;
	height: 80px;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}
.balloon1 {
  left: 65%;
  top: 125px;
}
.balloon2 {
  left: 85%;
  top: 125px;
}
.balloon3 {
  left: 85%;
  top: -100px;
}
.balloon4 {
  left: 10%;
  top: 15px;
  }
  .balloon5 {
    left: 5%;
    top: -100px;
  }
.floating img {
  width: 100%; height: auto; }

.p-0 {
  padding: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
} 
.p-5{
  padding: 5% !important;
}
.p-10{
  padding: 10% !important;
}


/* ---- confetti container ---- */
#tsparticles {
  background-position: center;
  background-size: cover;
  background-image: url('../img/BG.jpg');
  width: 100%;
  height: 100%;
  z-index: 2;
}


.image {
  position: absolute;
}

.imageOne {
  z-index: 0;
}

.imageTwo {
  z-index: 1;
}



/* Portfolio slider */
.portfolioSlider, 
.portfolioSlider > div {
    /* Images default to Center Center. Maybe try 'center top'? */
    background-position: center top;
    display: block;
    width: 377px;
    height: 400px;
    top: 14.5%;
    left: 1%;
    background-size: contain; 
    margin:0 auto;
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
    -moz-transition: transform .4s;
    -o-transition: transform .4s;
    -webkit-transition: transform .4s;
    transition: transform .4s;
}

.portfolioSlider > div {
    position: absolute;
}

.slider-bg {
  position: absolute;
  z-index: 1;
}

.portfolioSlider > i {
    color: #5bbd72;
    position: absolute;
    font-size: 60px;
    margin: 20px;
    top: 40%;
    text-shadow: 0 10px 2px #223422;
    transition: .3s;
    width: 20px;
    padding: 10px 13px;
    background: #fff;
    background: rgba(255, 255, 255, .3);
    cursor: pointer;
    line-height: 0;
    box-sizing: content-box;
    border-radius: 3px;
    z-index: 4;
}

.slportfolioSliderider > i svg {
    margin-top: 3px;
}

.portfolioSlider > .left {
    left: -100px;
}
.portfolioSlider > .right {
    right: -100px;
}
.portfolioSlider:hover > .left {
    left: 0;
}
.portfolioSlider:hover > .right {
    right: 0;
}

.portfolioSlider > i:hover {
    background:#fff;
    background: rgba(255, 255, 255, .8);
    transform: translateX(-2px);
}

.portfolioSlider > i.right:hover {
    transform: translateX(2px);
}

.portfolioSlider > i.right:active,
.portfolioSlider > i.left:active {
    transform: translateY(1px);
}

.portfolioSlider:hover > div {
    transform: scale(1.03);
}

.hoverZoomOff:hover > div {
    transform: scale(1);
}

.portfolioSlider > ul {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 4;
    padding: 0;
    margin: 0;
    transform: translateX(-50%);
}

.portfolioSlider > ul > li {
    display: none;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    list-style: none;
    float: left;
    margin: 10px 10px 0;
    cursor: pointer;
    border: 1px solid #fff;
    -moz-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

.portfolioSlider > ul > li:hover {
    background-color: #7EC03D;
}

.portfolioSlider > .show {
    z-index: 1;
}

.hideDots > ul {
    display: none;
}

.showArrows > .left {
    left: 0;
}

.showArrows > .right {
    right: 0;
}

.titleBar {
    z-index: 2;
    display: inline-block;
    background: rgba(0,0,0,.5);
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(100%);
    padding: 20px 30px;
    transition: .3s;
    color: #fff;
}

.titleBar * {
    transform: translate(-20px, 30px);
    transition: all 700ms cubic-bezier(0.37, 0.31, 0.2, 0.85) 200ms;
    opacity: 0;
}

.titleBarTop .titleBar * {
    transform: translate(-20px, -30px);
}

.portfolioSlider:hover .titleBar,
.portfolioSlider:hover .titleBar * {
    transform: translate(0);
    opacity: 1;
}

.titleBarTop .titleBar {
    top: 0;
    bottom: initial;
    transform: translateY(-100%);
}

.portfolioSlider > div span {
    display: block;
    background: rgba(0,0,0,.5);
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: center;
    padding: 0;
    width: 100%;
}


@keyframes boing {
    0% {
        transform: scale(1.2);
    }
    40% {
        transform: scale(.6);
    }
    60% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}

/* -------------------------------------- */

/* Client slider */
.client-wrapper {
  margin-top: 100px;
  padding: 100px 0;
}

.client_text {
  margin: 0 auto;
}
.client_text img {
  padding: 0% 30% 5%;
}
.slick-slide {
  margin: 0px 20px;
}
.slick-slide img {
  display: block;
  width: 100%;
}

.customerSlider .slick-slide img {
  width: 70%;
  margin: 0 auto;
  position: relative;
  z-index: 999;
}

.slick-slider
{
  position: relative;
  display: block;
  z-index: 999;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.spotlights {
  position: relative; 
  top: -150px;
}
@media only screen and (max-width: 600px) {
  .spotlights {
    position: relative; 
    top: -300px;
  }
  .fun img{
    width: 100%;
    padding: 0 5%;
  }
  .client-wrapper {
    margin-top: 200px;
  }
}

.form-control {
  padding: 20px 12px !important;
  background-color : #eee;
  border: 1px solid #eee;
}

/* Footer */
.footer {
  position: relative;
  background-size: cover;
  background-position: bottom;
  background-color : rgba(142,5,75,255);
  background: url('../img/BG.jpg');
}
.form-content {
  background-color: #fff;
  padding: 5%;
  margin: 0% 5%;
  border-radius: 30px;
}
.footer-content {
  background-color: #fff;
  border-radius: 30px;
  padding: 5%;
  float: right;
  margin-top: 30%;
}
.footer-content img {
  width: 100px;
}
.btn-dark {
  padding: 10px 40px;
  background-color : #222;
  color : #fff;
  border-radius: 10px;
}

.copyright {
  padding: 3rem;
  text-align: center;
  background: transparent;
}
.copyright p {
  color: #fff;
  font-size: 18px;
}


/* -------------------------------- */